/* VARIABLES */
:root {
    --yellow:#FFDBB6;
    --white:#FFF2EF;
    --pink:#F7A5A5;
    --pink-opacity:rgba(161, 104, 104, 0.07);
    --main-color: #8892b0;
    --navy-background: #0a192f;   /* Couleur principale */
    --main-font: Calibre,San Francisco,SF Pro Text,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
    --code-font: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;
}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul > li {
    list-style: none;
}

a {
    text-decoration:none;
}

/* GLOBAL */
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--navy-background);
    color: var(--main-color);
    line-height: 1.3;
    font-family: var(--main-font);
    font-size: 18px;
}

.banner {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.content {
    display: flex;
    flex-wrap:wrap;
    margin: 60px 0px;
}

.uppercase {
    text-transform: uppercase;
}

.primary-text {
    color:var(--main-color)!important;
}

.highlight {
    color:var(--pink)!important;
}

/* NAVBAR */
nav {
    height: 100%;
    max-width: 25%;
    display:flex;
    flex-direction: column;
    flex: 1;
    padding-left: 50px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #8892b0;
    font-family:var(--code-font);
    margin-top: 50px;
    transition: all 0.2s ease;
}

.active {
    color: var(--pink);
    border-bottom: 1px solid var(--pink);
}

nav .admin-menu {
    cursor:pointer;
}

.dropdown {
    display: none;
}

.dropdown.active {
    display: flex;
    flex-direction: column;
    margin-top:10px;
}

.dropdown.active a {
    font-size:16px;
    margin-top:5px;
}

/* Hamburger button */
.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
}

.primary-button {
     position: relative;
  display: inline-block;
  padding: 1.25rem 2rem;
  border: 2px solid var(--pink);
  border-radius: 8px;
  color: var(--pink);
  font-family: var(--code-font);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transform-style: preserve-3d;
  perspective: 1000px;
  background: transparent;
}

.secondary-button {
     position: relative;
  display: inline-block;
  padding: 15px;
  border: 2px solid var(--navy-background);
  border-radius: 8px;
  color: var(--navy-background);
  font-family: var(--code-font);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transform-style: preserve-3d;
  perspective: 1000px;
  background: transparent;
  margin-top: 35px;
}

.grey-button {
  position: relative;
  display: inline-block;
  padding: 15px;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  color: var(--main-color);
  font-family: var(--code-font);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transform-style: preserve-3d;
  perspective: 1000px;
  background: transparent;
  margin-top: 35px;
}

/* MAIN */
main {
    flex: 1;
}

h1 {
    color:#FFDBB6;
    font-weight: 600;
    font-size: 70px;
}

h2 {
    color:var(--pink);
    text-transform:uppercase;
    font-weight:400;
    font-size:32px;
}

h3 {
    font-family: var(--code-font);
    font-weight:400;
}

.card-section {
    border:var(--pink) solid 2px;
    padding: 15px 50px;
    border-radius: 10px;
    margin: 50px 50px 0 0;
    display:flex;
    flex-wrap:wrap;
    box-shadow: 0 0 12px var(--pink);
}

.card {
    background-color:var(--yellow);
    border-radius: 5px;
    padding: 25px;
    margin: 15px 0;
    width:100%;

        p {
            color:var(--navy-background);
        }
}

.start-filters, .end-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.resources-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px var(--pink) solid;
    padding-bottom: 15px;
    padding-top: 10px;

    input {
       height: 35px;
       border: 2px solid var(--navy-background);
       border-radius: 8px
    }
}

.filter-item {
    font-size:14px;

    select {
        height: 35px;
        border: 2px solid var(--navy-background);
       border-radius: 8px
    }

    input {
        margin-left: 10px;
    }
}

/* AUTH PAGE */
.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.auth-container {
    form {
        background-color: var(--white);
        border-radius: 10px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 15px var(--main-color);
        margin-top:50px;

        h2 {
            margin-bottom: 25px;
            font-size:25px;
            color:var(--navy-background);
        }

        input{
            border-radius: 10px;
            border-color: var(--navy-background);
            height:35px
        }

        p {
            display:flex;
            flex-direction:column;
            margin-top: 10px;
            width: 100%;

            label {
                color:var(--navy-background);
                font-size:14px;
                margin-bottom:5px;
            }
        }
    }
}