<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Reservation App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    <nav>
         👋 Hello {{ user.username }}
        <a href="/">01. Dashboard</a> |
        <a href="/resources/">02. Catalogue</a> |
        <a href="/reservations/mine/">03. Mes réservations</a> |
        <a href="/admin-panel/resources/">04. Admin</a> |
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn-text">Déconnexion</button>
        </form>
    </nav>

    <!-- MESSAGES -->
    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">
                {{ message }}
            </p>
            <hr>
        {% endfor %}

        {% if message.tags == "error" %}
            <p style="color: red;">{{ message }}</p>
        {% else %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>