<!DOCTYPE html>
<html>
<head>
    <title>Reservation App</title>
</head>
<body>

    <!-- 🔥 NAVBAR -->
    <nav>
        <a href="/">Dashboard</a> |
        <a href="/resources/">Catalogue</a> |
        <a href="/reservations/mine/">Mes réservations</a> |
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">🚪 Déconnexion</button>
        </form>
    </nav>

    <hr>

    <!-- 💬 MESSAGES -->
    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">
                {{ message }}
            </p>
            <hr>
        {% endfor %}

        {% if message.tags == "error" %}
            <p style="color: red;">{{ message }}</p>
        {% else %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>