{% extends "base.html" %}

{% block content %}
<h2>Toutes les réservations</h2>

<ul class="card-section">
    {% if resources %}
    <form method="get" class="resources-filter">
        <div class="start-filters" style="justify-content: flex-start;">
            <div class="filter-item">
                <label for="user" id="user">Utilisateur :</label>
                <input type="text" name="user">
            </div>
            <div class="filter-item">
                <label for="resource" id="resource">Ressource :</label>
                <input type="text" name="resource">
            </div>
        </div>
        <div class="end-filters" style="justify-content: flex-start;">
            <div class="filter-item">
                <label for="start" id="start">Début :</label>
                <input type="date" name="start">
            </div>
            <div class="filter-item">
                <label for="end" id="end">Fin :</label>
                <input type="date" name="end">
            </div>
        </div>
        <div class="filter-item">
            <button type="submit" class="grey-button">Filtrer</button>
        </div>
    </form>
    {% endif %}

    {% for r in reservations %}
    <li class="card">
        {{ r.resource.name }} |
        créé par {{ r.created_by }} |
        modifié par {{ r.updated_by }} |
        le {{ r.updated_at }}
        <a href="{% url 'cancel_reservation_admin' r.id %}"><button class="secondary-button">❌ Annuler avec motif</button></a>
    </li>
    {% empty %}
        <li>Aucune réservation créée</li>
    {% endfor %}

    {% if resources %}
    <form method="get" action="{% url 'export_reservations_csv' %}">
        📅 Début :
        <input type="date" name="start">
        📅 Fin :
        <input type="date" name="end">
        <button type="submit">Télécharger CSV</button>
    </form>
    {% endif %}
</ul>

{% endblock %}

