{% extends "base.html" %}

{% block content %}

<h2>Réserver {{ resource.name }}</h2>

<div class="create-reservation-form" style="width:500px">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="cta-form-section">
            <button type="submit" class="primary-button" style="margin-top:50px;">Réserver</button>
            <button type="submit" class="primary-button" style="margin-top:50px;"><a href="/resources/" style="color:var(--pink)">Retour</a></button>
        </div>
    </form>
</div>


{% endblock %}

