{% extends "base.html" %}

{% block content %}
<h1>Mes réservations</h1>

<ul class="card-section">
    {% for reservation in reservations %}
        <li class="card">
            <p>{{ reservation.resource.name }} |</p>
            <p>{{ reservation.start_datetime }} → {{ reservation.end_datetime }} |</p>
            <p>{{ reservation.status }}</p>

            {% if reservation.status == "confirmed" %}
                <a href="{% url 'update_reservation' reservation.id %}">✏️ Modifier</a>
                <a href="{% url 'cancel_reservation_user' reservation.id %}">❌ Annuler</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}

