{% extends "base.html" %}

{% block content %}
<h1>Mes réservations</h1>

<ul class="card-section">
    {% for reservation in reservations %}
        <li class="card">
            <p>Ressource :{{ reservation.resource.name }}</p>
            <p>Période de réservation : Du {{ reservation.start_datetime | date:"DATE_FORMAT" }} au {{ reservation.end_datetime | date:"DATE_FORMAT" }}</p>
            <p>{{ reservation.status }}</p>

            {% if reservation.status == "confirmed" %}
                <a href="{% url 'update_reservation' reservation.id %}">✏️ Modifier</a>
                <a href="{% url 'cancel_reservation_user' reservation.id %}">❌ Annuler</a>
            {% endif %}
        </li>
    {% empty %}
        <li>Aucune réservation à venir <a href="{% url 'resource_list' %}">✏️ Ajouter une réservation</a></li>
    {% endfor %}
</ul>

{% endblock %}

