{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<h3 style="margin-top: 10px;">📅 Mes prochaines réservations</h3>

<ul class="card-section">
    {% for r in reservations %}
        <li class="card">
            <p><strong>Ressource réservée :</strong> {{ r.resource.name }}</p>
            <p><strong>Période de réservation : </strong> Du {{ r.start_datetime | date:"d/m/Y à H:i" }} au {{ r.end_datetime | date:"d/m/Y à H:i" }}</p>
            <p class="status-{{ reservation.status }}"><strong>Statut : </strong><span class="uppercase primary-text">{{ r.get_status_display }}</span></p>
        </li>
    {% empty %}
        <li>Aucune réservation à venir <a href="{% url 'resource_list' %}">✏️ Ajouter une réservation</a></li>
    {% endfor %}
</ul>

{% if alerts %}
    <h2>Réservation(s) proche(s)</h2>
    <h3 style="margin-top: 10px;"> ⚠️ Il y a {{alert_count}} réservation(s) en approche (< 24h)</h3>
    <ul class="card-section">
        {% for r in alerts %}
            <li class="card">
                <p><strong>Ressource réservée :</strong> {{ r.resource.name }}</p>
                <p><strong>Période de réservation : </strong> Du {{ r.start_datetime | date:"d/m/Y à H:i" }} au {{ r.end_datetime | date:"d/m/Y à H:i" }}</p>
                <p class="status-{{ reservation.status }}"><strong>Statut : </strong><span class="uppercase primary-text">{{ r.get_status_display }}</span></p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if cancelled %}
    <h2>Autres</h2>
    <h3 style="margin-top: 10px;"> ❌ Réservations passées/annulées</h3>
    <ul class="card-section">
    {% for c in cancelled %}
    <li class="card">
        <p>
            {{ c.resource.name }} - Du {{ c.start_datetime | date:"l d F Y à H:i" }} au {{ c.end_datetime | date:"l d F Y à H:i" }} - {{ c.get_status_display }}
        </p>
    </li>
    {% endfor %}
    </ul>
{% endif %}

<!-- POUR V2 CALENDAR

<div class="calendar">
    <div class="calendar-header">
        <button id="prev">&#8592;</button>
        <h2 id="month-year"></h2>
        <button id="next">&#8594;</button>
    </div>
    <div class="calendar-days" id="calendar-days"></div>
</div>-->

{% endblock %}