{% extends "base.html" %}

{% block content %}

<h1>Dashboard</h1>

<h2>📅 Mes prochaines réservations</h2>

<ul class="card-section">
    {% for r in reservations %}
        <li class="card">
            <p>{{ r.resource.name }} |</p>
            <p>{{ r.start_datetime }} → {{ r.end_datetime }}</p>
        </li>
    {% empty %}
        <li>Aucune réservation à venir</li>
    {% endfor %}
</ul>

{% if alerts %}
    <h2> Réservations proches</h2>
    <ul class="card-section">
        {% for r in alerts %}
            <li class="card">
                {{ r.resource.name }} à {{ r.start_datetime }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}