{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<h3>📅 Mes prochaines réservations</h3>

<ul class="card-section">
    {% for r in reservations %}
        <li class="card">
            <p>Ressource réservée : {{ r.resource.name }}</p>
            <p>Période de réservation : Du {{ r.start_datetime | date:"DATE_FORMAT" }} au {{ r.end_datetime | date:"DATE_FORMAT" }}</p>
            <p>{{ r.status }}</p>
        </li>
    {% empty %}
        <li>Aucune réservation à venir <a href="{% url 'resource_list' %}">✏️ Ajouter une réservation</a></li>
    {% endfor %}
</ul>

{% if alerts %}
    <h2> Réservations proches</h2>
    <ul class="card-section">
        {% for r in alerts %}
            <li class="card">
                {{ r.resource.name }} à {{ r.start_datetime }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}