{% extends "base.html" %}

{% block content %}

<h2>Tous les lieux</h2>

<a href="{% url 'create_location' %}">Ajouter</a>

<ul class="card-section">
    {% for c in locations %}
        <li class="card">
            {{ c.name }}
            <a href="{% url 'update_location' c.id %}"><button class="secondary-button">✏️ Modifier ce lieu</button></a>
            <a href="{% url 'delete_location' c.id %}"><button class="secondary-button">❌ Supprimer ce lieu</button></a>
        </li>
    {% endfor %}
</ul>

{% endblock %}