{% extends "base.html" %}

{% block content %}

<h2>Toutes les ressources</h2>

<a href="{% url 'create_resource' %}">Ajouter une ressource</a>

<ul class="card-section">
    {% for r in resources %}
        <li class="card">
            {{ r.name }}

            <a href="{% url 'update_resource' r.id %}"><button class="secondary-button">✏️ Modifier cette ressource</button></a>
            <a href="{% url 'delete_resource' r.id %}"><button class="secondary-button">❌ Supprimer cette ressource</button></a>
        </li>
    {% endfor %}
</ul>

{% endblock %}

