{% extends "base.html" %}

{% block content %}

<h2>Toutes les catégories</h2>

<a href="{% url 'create_category' %}">Ajouter</a>

<ul class="card-section">
    {% for c in categories %}
        <li class="card">
            {{ c.name }}
            <a href="{% url 'update_category' c.id %}"><button class="secondary-button">✏️ Modifier cette catégorie</button></a>
            <a href="{% url 'delete_category' c.id %}"><button class="secondary-button">❌ Supprimer cette catégorie</button></a>
        </li>
    {% endfor %}
</ul>

{% endblock %}