{% extends "base.html" %}

{% block content %}

<h1>Dashboard 👋 {{ user.username }}</h1>

<h1>Catalogue</h1>

<form method="get">

    🔍 <input type="text" name="search" placeholder="Rechercher...">

    <br><br>

    🎯 Type :
    <select name="type">
        <option value="">-- Tous --</option>
        <option value="room">Salle</option>
        <option value="equipment">Équipement</option>
    </select>

    <br><br>

    🏷️ Catégorie :
    <select name="category">
        <option value="">-- Toutes --</option>
        {% for c in categories %}
            <option value="{{ c.id }}">{{ c.name }}</option>
        {% endfor %}
    </select>

    <br><br>

    📍 Lieu :
    <select name="location">
        <option value="">-- Tous --</option>
        {% for l in locations %}
            <option value="{{ l.id }}">{{ l.name }}</option>
        {% endfor %}
    </select>

    <br><br>

    🔥 Disponible maintenant :
    <input type="checkbox" name="available">

    <br><br>

    <button type="submit">Filtrer</button>
</form>

<hr>

<ul>
    {% for resource in resources %}
        <li>
            <a href="{% url 'resource_detail' resource.id %}">
                {{ resource.name }} ({{ resource.get_type_display }})
            </a>
        </li>
    {% empty %}
        <li>Aucune ressource trouvée</li>
    {% endfor %}
</ul>

{% endblock %}

