{% extends "base.html" %}

{% block content %}

<h2>{{ resource.name }}</h2>

<ul class="card-section">
    <li class="card">
        <p><strong>Description </strong>: {{ resource.description }}</p>
        <p><strong>Type</strong> : {{ resource.get_type_display }}</p>
        <p><strong>Lieu</strong> : {{ resource.location }}</p>
        <a href="{% url 'create_reservation' resource.id %}">
            <button class="secondary-button">Réserver cette ressource</button>
        </a>
        <a href="/resources/"><button class="secondary-button">↤ Retour</button></a>
    </li>
</ul>


{% endblock %}

